<div class="watchlist" *ngIf="isLoggedIn; else notLoggedIn">
  <h2>Мой Watchlist</h2>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="watchlist.length === 0 && !error">
    <p class="empty-message">Ваш Watchlist пуст.</p>
  </div>

  <div *ngFor="let item of watchlist" class="watchlist-item">
    <div class="movie-info">
      <a [routerLink]="['/movies', item.movie.id]">
        {{ item.movie.title }} ({{ item.movie.release_year }})
      </a>
    </div>
    <button (click)="removeFromWatchlist(item.id)" class="remove-button">
      Удалить
    </button>
  </div>
</div>

<ng-template #notLoggedIn>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</ng-template>
